div#imgheader {
    width: 100%;
    height: 500px;
    background-image: url(https://img.sndimg.com/food/image/upload/w_896,h_504,c_fill,fl_progressive,q_80/v1/img/recipes/17/25/50/p9rP7qI7SZ29cHXHq03K_white-cupcakes-2.jpg);
    background-size: cover;
}

form.form-inline.my-2.my-lg-0 {
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.form-inline .form-control{


width: 85%;

}

h1 {
    text-align: center;
    padding-top: 10%;
    font-size: 50px;
    color: #673f2b;
    font-weight: 900;
    border-bottom: 1px solid;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}


.btn-outline-success {
    color: #ffffff;
    background-color: #673f28;
    background-image: none;
    border-color: #ffffff;
}

.bg-dark {
    background-color: #673f24!important;
    border-bottom: 3px solid white;
}

.navbar-expand-lg .navbar-collapse{

    margin-left: 60%;


}

.btn-outline-success:hover{

    color: #ffffff;
    background-color: #f63973;
    background-image: none;
    border-color: #ffffff;


}

div#logo {
    text-align: -webkit-center;
}


h5{

font-family: Shrikhand;

}


.card-title {
    text-align: -webkit-center;
    color: #f63772;
    font-size: 30px;
    margin-bottom: 35px;
    margin-top: 35px;
}